[submodule "frontend/src/solid-blocks"]
	path = frontend/src/solid-blocks
	url = https://github.com/milahu/solid-blocks
[submodule "frontend/src/solidjs-resizable-splitter-component"]
	path = frontend/src/solidjs-resizable-splitter-component
	url = https://github.com/milahu/solidjs-resizable-splitter-component
[submodule "frontend/src/solidjs-treeview-component"]
	path = frontend/src/solidjs-treeview-component
	url = https://github.com/milahu/solidjs-treeview-component
[submodule "frontend/src/solidjs-monaco-editor-component"]
	path = frontend/src/solidjs-monaco-editor-component
	url = https://github.com/milahu/solidjs-monaco-editor-component
[submodule "frontend/src/nix-eval-js"]
	path = frontend/src/nix-eval-js
	url = https://github.com/milahu/nix-eval-js
